ico_actualizar RCDATA "src\\Iconos\\ico_actualizar.png"
ico_agenda RCDATA "src\\Iconos\\ico_agenda.png"
ico_backup RCDATA "src\\Iconos\\ico_backup.png"
ico_caja RCDATA "src\\Iconos\\ico_caja.png"
ico_caja_saldo RCDATA "src\\Iconos\\ico_caja_saldo.png"
ico_cancelar RCDATA "src\\Iconos\\ico_cancelar.png"
ico_configuracion RCDATA "src\\Iconos\\ico_configuracion.png"
ico_consulta RCDATA "src\\Iconos\\ico_consulta.png"
ico_direccion RCDATA "src\\Iconos\\ico_direccion.png"
ico_eliminar RCDATA "src\\Iconos\\ico_eliminar.png"
ico_empresa RCDATA "src\\Iconos\\ico_empresa.png"
ico_financiero RCDATA "src\\Iconos\\ico_financiero.png"
ico_funcionario RCDATA "src\\Iconos\\ico_funcionario.png"
ico_guardar RCDATA "src\\Iconos\\ico_guardar.png"
ico_caja_historial RCDATA "src\\Iconos\\ico_historial_caja.png"
ico_impresora RCDATA "src\\Iconos\\ico_impresora.png"
ico_inicio RCDATA "src\\Iconos\\ico_inicio.png"
ico_caja_lanzamiento RCDATA "src\\Iconos\\ico_lanzamiento_caja.png"
ico_caja_listado RCDATA "src\\Iconos\\ico_listado_caja.png"
ico_medico RCDATA "src\\Iconos\\ico_medico.png"
ico_nuevo RCDATA "src\\Iconos\\ico_nuevo.png"
ico_opciones RCDATA "src\\Iconos\\ico_opciones.png"
ico_paciente RCDATA "src\\Iconos\\ico_paciente.png"
ico_producto RCDATA "src\\Iconos\\ico_producto.png"
ico_proveedor RCDATA "src\\Iconos\\ico_proveedor.png"
ico_registro RCDATA "src\\Iconos\\ico_registro.png"
ico_reporte RCDATA "src\\Iconos\\ico_reporte.png"
ico_saldo_caja RCDATA "src\\Iconos\\ico_saldo_caja.png"
ico_salir RCDATA "src\\Iconos\\ico_salir.png"
ico_seguro RCDATA "src\\Iconos\\ico_seguro.png"
ico_servicio RCDATA "src\\Iconos\\ico_servicio.png"
ico_usuario RCDATA "src\\Iconos\\ico_usuario.png"
